.container {
    width: 100%;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.container input {
    padding: 5px 8px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 60%);
    outline: none;
    border-radius: 10px;
    background-color: #eee;
}

.container input:focus {
    border: 1px solid rgba(0, 0, 0, 80%);    
}

.container input:invalid {
    border: 1px solid red;
}

.container input:valid {
    border: 1px solid green;
}

.container button {
    border: none;
    outline: none;
    display: grid;
    place-content: center;
    background-color: transparent;
    cursor: pointer;
}

.container button svg {
    width: 30px;
    fill: var(--fallback);
    transition: all 0.3s ease;
}

.container button:hover svg {
    fill: var(--secondary);
    transform: scale(1.05);
}