.button {
    display: grid;
    place-content: center;
    font-size: 17px;
    padding: 5px 30px;
    outline: none;
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: sans-serif;
}

.button:hover {
    transform: scale(1.05);
    background-color: var(--primary);
    color: white;
}

.button:active {
    transform: scale(0.95);
}