.container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 10px;
    flex: 5;
}

.container > main {
    display: flex;
    justify-content: center;
    align-items: center;
}