.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px 10px 10px;
}


.innerContainer {
    padding-bottom: 5px;
    border-bottom: 1px solid #555555;
}

.innerContainer h1 {
    color: var(--primary)
}

.innerContainer p {
    color: #555555;
    line-height: 22px;
}

.container > p {
    font-style: italic;
    font-family: sans-serif;
}
