input[type="radio"] {
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
} 

input[type="radio"]:hover {
    scale: 1.05;
}

.container {
    padding: 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.container > div:first-child {
    display: grid;
    place-content: center;
}

.container > div:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container > div:last-child div:first-child svg {
    fill: gray;
    width: 30px;
    height: 30px;
}

.container > div:last-child div:last-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container > div:last-child div:last-child p:first-child {
    font-size: 17px;
}

.container > div:last-child div:last-child p:last-child {
    color: #666666;
}
